* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

.main-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background-color: #007bff;
  padding: 0 20px;

  .company-name {
    font-size: 2rem;
    color: #ffffff;
  }

  .pages-navigation {
    display: flex;
    align-items: center;

    .check {
      display: none;
    }

    .btn {
      display: none;
      border: none;
      background-color: transparent;

      .icon {
        font-size: 3rem;
        color: #ffffff;
        cursor: pointer;
      }
    }

    ul {
      list-style: none;

      li {
        display: inline-block;
        margin: 0 20px;
        padding: 6px;

        a {
          font-size: 1.2rem;
          text-decoration: none;
          color: #ffffff;
        }

        &:hover {
          background-color: blue;
          border-radius: 8px;
        }
      }
    }

    .active {
      left: 0;
    }

    @media (max-width: 990px) {
      .btn {
        display: block;
      }

      ul {
        position: fixed;
        top: 60px;
        left: -100vw;
        background-color: grey;
        height: 100vh;
        width: 100%;
        transition: left 2s ease;
        li {
          display: block;
          text-align: center;
        }

        // &:hover {
        //   left: 0;
        // }
      }

      //   .check:checked ~ ul {
      //     left: 0;
      //   }
    }
  }
}
